@import "../global/Variables.scss";
@import "../global/Components.scss";

@media (max-width: 991px) {
  .row1 {
    .img-fluid {
      margin-top: 50px;
    }
  }
  .row2 {
    .img-fluid {
      margin-top: -30px;
    }
  }
}

@media (min-width: 537px) {
  .row4 {
    align-items: center;
    h2 {
      width: 430px;
    }
    p {
      width: 550px;
    }
  }
}

@media (min-width: 991px) {
  .contentContainer {
    padding-top: 60px;
  }
  .bigText {
    width: 400px;
  }
  .row2 {
    .colLeft {
      p {
        width: 430px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .row1 {
    h1 {
      padding-left: 150px;
      width: 550px;
    }
    p {
      padding-left: 150px;
      width: 590px;
    }
    .button2 {
      margin-left: 150px;
    }
  }
}

.title {
  padding-top: 30px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;

  color: $textPrimaryColor;
}

.colLeft {
  text-align: left;
}

.colRight {
  text-align: right;
}

.titleSpan {
  font-weight: 700;
}

.row1 {
  .bigText {
    padding-top: 30px;
  }
  h1 {
    margin-bottom: 20px;
  }
  .button2 {
    margin-top: 50px;
  }
}

.row2 {
  margin-bottom: 120px;
  h2 {
    margin-top: 50px;
  }
  .colLeft {
    .listText {
      margin-top: 20px;
    }
    .featureList {
      margin-top: 20px;
      li {
        margin-top: -5px;
      }
    }
  }
}
.row4 {
  padding-top: 80px;
  margin-bottom: 60px;
}
