@import "@fontsource/rubik";

.button1 {
  width: 150px;
  height: 45;

  border-radius: 50px;
  border: solid;
  border-width: 1px;
  border-color: $buttonPrimaryColor;

  background-color: white;

  color: $buttonPrimaryColor;

  font-family: $fontFamily;
  font-size: 16px;
  font-weight: $fontWeightBold;
}

.button1:hover {
  background-color: $buttonPrimaryColor;
  color: white;

  -webkit-box-shadow: 0px 20px 15px -10px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 20px 15px -10px rgba(245, 56, 56, 0.35);
}

.button2 {
  width: 250px;
  height: 60px;

  border-radius: 10px;
  border: solid;
  border-color: $buttonPrimaryColor;

  -webkit-box-shadow: 0px 30px 15px -10px rgba(245, 56, 56, 0.35);
  box-shadow: 0px 30px 15px -10px rgba(245, 56, 56, 0.35);

  background-color: $buttonPrimaryColor;

  color: white;

  font-family: $fontFamily;
  font-size: 16px;
  font-weight: $fontWeightBold;
}

.smallText {
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  font-size: 16px;

  color: $textSecondaryColor;
}

.bigText {
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  font-size: 35px;

  color: $textPrimaryColor;
}

.listText {
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  font-size: 14px;

  padding-left: 10px;

  color: $textSecondaryColor;
}

.listTitle {
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  font-size: 18px;

  color: $textPrimaryColor;
}

.span {
  font-weight: $fontWeightBold;
}

.copyright {
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
  font-size: 16px;

  color: #afb5c0;
}