@import "../../global/Variables.scss";
@import "../../global/Components.scss";

@media (min-width: 768px) {
  .specsContainer {
    .container-fixed {
      .row {
        .col {
          display: flex;
        }
      }
    }
  }
}
.container {
  .featureList {
    .listText {
      padding-top: 18px;
      font-size: 14px;
    }
  }
  .bigText {
    max-width: 370px;
  }
  .smallText{
    max-width: 430px;
  }

  .specsContainer {
    background-color: white;
    max-width: 1140px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    padding-top: 67px;
    padding-bottom: 67px;

    border-radius: 10px;

    -webkit-box-shadow: 0px 20px 20px 5px rgba(13, 16, 37, 0.06);
    box-shadow: 0px 20px 20px 5px rgba(13, 16, 37, 0.06);

    .number {
      font-family: $fontFamily;
      font-weight: $fontWeightBold;
      font-size: 25px;

      color: $textPrimaryColor;
    }

    .text {
      margin-top: -15px;
      font-family: $fontFamily;
      font-weight: $fontWeightNormal;
      font-size: 20px;

      color: $textSecondaryColor;
    }
  }
}
