@import "../../global/Variables.scss";
@import "../../global/Components.scss";

@media (min-width: 991px) {
  .badgeContainer {
    padding-top: 60px;
  }
}
.badgeContainer {
  .title {
    padding-top: 30px;
    padding-left: 60px;
    max-width: 600px;

    font-family: $fontFamily;
    font-weight: 500;
    font-size: 50px;

    color: $textPrimaryColor;
  }
  .smallText {
    padding-left: 60px;
    padding-top: 30px;
    max-width: 600px;
  }
  .button2{
    margin-left: 60px;
    margin-top: 40px;
  }
}
