.footer{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 63.5px;
    margin-bottom: 100px;
}

.smallText{
    margin-bottom: 20px;
    
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    //line-height: 30px;

    text-align: left;

    color: #4F5665;

}

.socialMedia{
    margin-top: 10px;
    margin-left: -15px;
}

.middleSocialMedia{
    margin-left: -15px;
    margin-right: -15px;
}

.column{
    margin-left: 126px;
}

.columnTitle{
    margin-bottom: 20px;

    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    //line-height: 30px;

    text-align: left;

    color: #0B132A;
}

.copyright{
    width: 132px;
    height: 30px;

    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    text-align: center;

    color: #AFB5C0;
}