@import "../../global/Variables.scss";
@import "../../global/Components.scss";

@media (min-width: 508px) {
  .plansContainer {
    .col {
      align-items: center;
      .smallText {
        width: 550px;
        margin-bottom: 50px;
      }
      h2 {
        width: 380px;
      }
    }
  }
}

.plansContainer {
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
  .col {
    margin-top: 80px;
  }
}
