@import "../global/Variables.scss";
@import "../global/Components.scss";

@media (max-width: 991px) {
  .nav-link {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 991px) {
  .nav-link {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.nav {
  .button1 {
    border-color: $buttonSecondaryColor;
    color: $buttonSecondaryColor;
    font-weight: $fontWeightBold;
  }

  .navbar-nav {
    font-family: $fontFamily;
  }

}
