@import "../global/Variables.scss";
@import "../global/Components.scss";

@media (min-width: 991px) {
  .nav-link {
    margin-right: 30px;
  }
}

.button1 {
  border-color: $buttonSecondaryColor;
  color: $buttonSecondaryColor;
  font-weight: 500;
}

.navbar-nav {
  font-family: $fontFamily;
  font-style: normal;
}

.nav {
  width: 1320px;
}
