.table-responsive {
  th {
    text-align: center;
  }
  .column1 {
    text-align: center;
  }
  .column2 {
    text-align: center;
    font-weight: bold;
  }
  .column4 {
    text-align: center;
  }
  .col1 {
    width: 100px;
    text-align: center;
  }
  .status {
    width: 250px;
    text-align: center;
  }
  .ACTIONS {
    width: 100px;
    text-align: center;
  }
  .expander {
    width: 50px;
  }
  input {
    width: 80px;
  }
}
