@import "../../../../global/Variables.scss";
@import "../../../../global/Components.scss";

.planCard {
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #dddddd;
  padding-left: 60px;
  padding-right: 60px;
  .button1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .span {
    color: $textPrimaryColor;
  }
  .planPrice {
    font-family: $fontFamily;
    font-weight: $fontWeightNormal;
    font-size: 25px;

    color: $textSecondaryColor;
  }

  .planName {
    padding-top: 30px;
    font-family: $fontFamily;
    font-weight: $fontWeightBold;
    font-size: 18px;

    color: $textPrimaryColor;
  }

  .plansCardList {
    height:250px;
    list-style: none;
    padding-left: 0px;
    .li {
      .p {
        text-align: left;
      }
    }
  }
}

.planCard:hover {
  border-color: $buttonPrimaryColor;
}

