$bgDesktop: url(./photos/BackgroundDesktop.png);
$phoneFrame: url(./photos/iPhoneX.png);

$small: 576px;
$medium: 768px;
$large: 992px;

$filledButtonColor: #7c3aed;

$primaryTextColor: #111827;
$secondaryTextColor: #374151;

$hero03BackgroundColor: rgba(242, 247, 255, 0.7);

$btnFontWeight: 600;

$titleFontSize: 60px;
$mdTitleFontSize: 48px;
$smTitleFontSize: 36px;
$titleFontWeight: 700;

$textFontSize: 18px;
$textFontWeight: 400;
