@import "../../../global/Variables.scss";
@import "../../../global/Components.scss";

@media (max-width: $small) {
  .testimonialContainer {
    padding-top: 95px;
    padding-bottom: 48px;
    .quoteMark {
      padding-left: -5px;
    }
    .row {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (min-width: $small) and (max-width: $xxlarge) {
  .testimonialContainer {
    padding-top: 120px;
    padding-bottom: 80px;
    .row {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
@media (min-width: $xxlarge) {
  .testimonialContainer {
    padding-top: 120px;
    padding-bottom: 96px;
    .quoteMark {
      margin-left: 25px;
    }
    .row {
      padding-left: 130px;
      padding-right: 130px;
    }
  }
}

@media (min-width: $large) {
  .testimonialContainer {
    .left {
      width: 384px;
      margin-top: -190px;
      margin-left: auto;
      margin-right: 40px;
    }
    .right {
      width: 384px;
      margin-right: auto;
    }
    .col-lg-4 {
      width: 460px;
      margin-top: 20px;
      margin-bottom: 8px;
      margin-right: auto;
      margin-left: 20px;
    }
  }
}
.testimonialContainer {
  background-color: $testimonialSectionColor;
  .sectionTitle {
    position: relative;
  }
  .quoteMark {
    position: absolute;
    margin-top: -55px;
  }
}
